* {
    box-sizing: border-box;
    line-height: 1;
}


header {
    background-color: #4A4F56;
}

.header .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 270px 35px 247px;
    height: 82px;
}

.body .header span {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #FF8984;
}

.body .header p {
    font-size: 16px;
    font-weight: 400;
    color: #FF8984;
}

main {
    background-color: #3B3F45;
    min-height: 100vh;
}

.main .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 130px 135px 129px;
}

li {
    outline: 1px solid #a09fa3;
    width: 534px;
    height: 45px;
    background-color: #88839E;
    color: #FFF;
}

li:nth-child(even) {
    background-color: #7A7593;
  }

li:hover {
    background-color: #625E77;
    border-top: 2px solid #e5e0f4;
    border-bottom: 2px solid #e5e0f4;
    transition: all .1s ease-in;
}

li label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

li span {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    vertical-align: 2px;
}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through; 
    color: #9B96AC;
}

input[type=checkbox] {
    margin: 11px 3px 13px 10px;
}


.container input {
    height: 19px;
    width: 19px;
    transform: translateY(5px);
    border-radius: 1px;
    accent-color: rgb(255, 252, 252);
  }


.main .container p {
    padding: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    outline: 1px solid #a09fa3;
    width: 534px;
    height: 45px;
    background-color: #4A4F56;
    color: #FF8984;
    text-align: center;
    transform: translateY(300px);
}














